@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Open Sans',sans-serif;
}

.wrapper {
	max-width: 100%;
	margin: auto;
}

h2 {
	font-size: 32px;
	color: #413d4b;
	text-align: center;
}
p {
	color: #7a7881;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 10px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin:0;
}

a {
	text-decoration: none;
}

header {
	background: url(../img/headerbg.png) center center no-repeat;
	background-size: cover;
	padding-top:20px;
	opacity: 0;
	p {
		color: #fff;
	}
}

.show  {
	opacity: 1;
	transition: 0.5s ease;
}

.header-nav,.header-nav-bar,.header-abz,.header-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.header-inner {
	width: 100%;
	position: relative;
}

.header-img {
	width: 100%;
}

.header-abz {
	flex-direction: column;
	padding-bottom:50px;
	position: relative;
	p {
		padding: 0;
		margin: 5px 0;
		font-size: 22px;
		&.two {
			font-size: 46px;
			font-weight: 600;
		}
	}
}

.header-nav {
	background-color: #fff;
	padding: 10px 0;
	border:1px solid;
	border-radius: 5px 5px 0 0;
	ul {
		
	}
	li {
		margin-left:10px;
		&:first-of-type{
			margin-left: 0;
		}
		a {
			color: #000;
			font-size: 18px;
			font-weight: 600;
			&:hover {
				color: aquamarine;
				transition: all 0.2s ease;
			}
		}
	}
}

.about {
	width: 100%;
	margin:100px 0; 
	justify-content: flex-start;
}

.about-title {
	position: relative;
}

.about-text p {
	padding: 10px;
}

.about-text p:nth-child(2n) {
	display: flex;
	justify-content: flex-end;
	background-color: #3d2f63;
	color: #fff;
	border-radius: 5px;
	position: relative;
}
.about-text p:nth-child(2n+1) {
	position: relative;
}

.scroll {
	left:0;
	transition: all 0.5 ease;
}
.skills {
	margin: 100px 0;
}
.skills-content,.skills-bar,.skills-item {
	display: flex;
}
.skills-item {
	padding-top: 50px;
}

.skills-content {
	ul {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
	}
	li {
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex:0 1 33%;
		flex-direction: column;
	}
}

.two-bar {
	li {
		border-bottom: 2px solid rgba(0,0,0,.2);
		text-align: center;
	}
}

.works {
	margin: 100px 0;
}

.works-content {
	padding: 50px 0;
	img {
		&:hover{
			opacity: 0.6;
			transition: all 0.2s ease;
		}
	}
}