@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 100%;
  margin: auto;
}

h2 {
  font-size: 32px;
  color: #413d4b;
  text-align: center;
}

p {
  color: #7a7881;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  background: url(../img/headerbg.png) center center no-repeat;
  background-size: cover;
  padding-top: 20px;
  opacity: 0;
  text-align: center;
}
header p {
  color: #fff;
}

.show {
  opacity: 1;
  transition: 0.5s ease;
}

.header-nav, .header-nav-bar, .header-abz, .header-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-inner {
  width: 100%;
  position: relative;
}

.header-img {
  width: 100%;
}

.header-abz {
  flex-direction: column;
  padding-bottom: 50px;
  position: relative;
}
.header-abz p {
  padding: 0;
  margin: 5px 0;
  font-size: 22px;
}
.header-abz p.two {
  font-size: 46px;
  font-weight: 600;
}

.header-nav {
  background-color: #fff;
  padding: 10px 0;
}
.header-nav li {
  margin-left: 10px;
}
.header-nav li:first-of-type {
  margin-left: 0;
}
.header-nav li a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.header-nav li a:hover {
  color: aquamarine;
  transition: all 0.2s ease;
}

.nav-fix {
  position: fixed;
  left: 0;
  top: 0;
}

.about {
  width: 100%;
  margin: 100px 0;
  justify-content: flex-start;
  position: relative;
  left: -100%;
  transition: all 0.5 ease;
}

.about-title {
  position: relative;
}

.about-text p {
  padding: 10px;
}

.about-text p:nth-child(2n) {
  display: flex;
  justify-content: flex-end;
  background-color: #3d2f63;
  color: #fff;
  border-radius: 5px;
}

.about-text p:nth-child(2n+1) {
  position: relative;
}

.scroll {
  left: 0;
  transition: all 0.5s ease;
}

.skills {
  margin: 100px 0;
}

.skills-content, .skills-bar, .skills-item, .skills-inner {
  display: flex;
}

.skills-inner {
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.skills-item {
  padding-top: 50px;
}

.skills-content ul {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
}
.skills-content li {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 2px;
  padding-bottom: 50px;
  transition: all 0.3s ease;
}
.skills-content li:hover {
  background-color: rgba(61, 47, 99, 0.9);
  color: #fff;
}

.two-bar li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
}
.two-bar li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.works {
  margin: 100px 0;
}
.works ul {
  display: flex;
}
.works li {
  display: flex;
}

.works-content {
  padding: 50px 0;
}
.works-content img:hover {
  opacity: 0.6;
  transition: all 0.2s ease;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: flex;
  color: #fff;
}
footer img {
  margin: 0;
}

.footer-contacts {
  display: flex;
  padding-top: 50px;
}
.footer-contacts img {
  width: 100%;
}
.footer-contacts ul {
  display: flex;
  padding: 10px;
}
.footer-contacts li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  margin: 0;
  flex: 0 1 4%;
}
.footer-contacts li:first-of-type {
  padding-left: 0;
}

@media (min-width: 980px) {
  .skills-content li {
    flex: 0 1 33%;
  }
  .skills-content .works-bar li {
    flex: 0 1 33%;
  }
  .skills-content .works-bar .footer-contacts li {
    flex: 0 1 4%;
  }
}
@media (max-width: 980px) {
  .skills-content li {
    flex: 0 1 50%;
  }
}
@media (max-width: 780px) {
  .header-abz p {
    font-size: 18px;
  }
  .header-abz p.two {
    font-size: 30px;
  }

  .skills-content li {
    flex: 0 1 100%;
  }
  .skills-content .works-bar ul {
    flex-wrap: wrap;
  }
  .skills-content .works-bar li {
    flex: 0 1 100%;
  }
}